* {
    box-sizing: border-box;
}
.chord-diagram {
    height: 18rem;
    width: 36rem;
    margin-bottom: 6rem;
}
.chord-diagram-string {
    height: 3rem;
    width: 100%;
    position: relative;
}
.chord-diagram-fret {
    height: 3rem;
    width: 7rem;
    border-left: 1px solid black;
    display: inline-block;
    position: relative;
}
.chord-diagram-label {
    position: absolute;
    top: 0;
    right: 0;
}
.chord-diagram-selected-fret {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    position: absolute;
    top: 1rem;
    left: -.5rem;
    border: 1px solid black;
}